.descContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 30px;
}
.descContainer.reverse {
    flex-direction: row-reverse;
}
.descBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.descBox h2 {
    text-align: center;
    color: #000000d4;
    margin: 0;
}
.descBox p {
    font-size: 14px;
    color: #837d7dcc;
    font-weight: 500;
    text-align: center;
}
.imgContainer {
    width: 50%;
}
.imgContainer img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
@media (max-width: 767px) {
    .descContainer {
        flex-direction: column;
        align-items: center;
        height: 350px;
        position: relative;
        width: 90%;
    }
    .descBox {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-width: 300px;
        align-items: center;
    }
    .descBox h2 {
        font-size: 17px;
    }
    .descBox p {
        font-size: 10px;
    }
    .imgContainer {
        margin-left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .descContainer.reverse {
        flex-direction: column;
    }
}